<div class="h-100 w-100 d-flex flex-row justify-content-center">
    <form class="d-flex w-25 flex-column justify-content-center" [formGroup]="registForm">
        <span class="fs-3 m-4 text-center">
            Regisztráció
        </span>
        <mat-form-field appearance="fill">
            <mat-label>Vezeték és Keresztnév</mat-label>
            <input type="text" matInput formControlName="name" required>
            <mat-error *ngIf="controlHasError('name', 'required')">Név megadása kötelező!</mat-error>
            <mat-error *ngIf="controlHasError('name', 'pattern')">Rossz név formátum!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Születési dátum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="controlHasError('birthdate', 'required')">Születési dátum megadása kötelező!</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email cím:</mat-label>
            <input type="email" matInput formControlName="email" required>
            <mat-error *ngIf="controlHasError('email', 'required')">Email cím megadása kötelező!</mat-error>
            <mat-error *ngIf="controlHasError('email', 'email')">Rossz email formátum!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Jelszó:</mat-label>
            <input type="password" matInput formControlName="password" required>
            <mat-error *ngIf="controlHasError('password', 'required')">Jelszó megadása kötelező!</mat-error>
            <mat-error *ngIf="controlHasError('password', 'pattern')">A jelszónak legalább hat karakter hosszúnak kell lennie és tartalmaznia kell számot, kis és nagybetűket!</mat-error>
        </mat-form-field>
        <button class="m-2" mat-raised-button color="primary" (click)="onRegistration()">Regisztráció</button>
    </form>
</div>
